.ld-table-container {
  margin-right: 0;
  margin-left: 0;
  border-width: 0.2rem;
}
.ld-table-container .ld-table {
  font-size: 14px;
}
.ld-table-container .ld-table td {
  vertical-align: middle;
}
.ld-table-container .ld-table thead, .ld-table-container tbody, .ld-table-container tfoot, .ld-table-container tr, .ld-table-container td, .ld-table-container th {
  width: 78px !important;
}
.ld-table-container .ld-table-head {
  background-color: #003057;
  color: #fff;
}
.ld-table-container .ld-table-col {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 100%;
}
.ld-table-container .ld-table-col .form-group {
  margin-bottom: 0 !important;
}
.ld-table-container .ld-table-field .ld-field-control {
  border-radius: 0px;
  border: 1px solid #e6e6e6;
}
.ld-table-container .ld-table-btn {
  font-size: 12px;
  border-radius: 0;
}
.ld-table-container .ld-table-pagination {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.ld-table-container .page-item.active .page-link {
  background-color: #003057;
  border-color: #003057;
}
